.interested {
   padding-bottom: 150px;
}

.interested__container {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.interested__title {
   max-width: 350px;
   margin: 0;
   font-weight: 700;
   font-size: 40px;
   line-height: 42px;
   font-family: $font-stack;
   &::after{
      position: absolute;
      top: 50px;
      right: 200px;
      width: 534px;
      height: 1px;
      color: $color-grayish-dark-blue;
      background-color: $color-grayish-dark-blue;
      content: '';
   }
}

.interested__btn {
   text-transform: uppercase;
}

@include breakpoint-down(1104px){
   .interested__title{
      &::after{
         width: 450px;
      }
   }
}

@include breakpoint-down(1021px){
   .interested__title{
      &::after{
         width: 350px;
      }
   }
}

@include breakpoint-down(931px){
   .interested__title{
      &::after{
         width: 250px;
      }
   }
}

@include breakpoint-down(824px){
   .interested__title{
      &::after{
         width: 150px;
      }
   }
}

@include breakpoint-down(730px){
   .interested__title{
      &::after{
         width: 100px;
      }
   }
}

@include breakpoint-down(671px){
   .interested__title{
      &::after{
         width: 70px;
      }
   }
}

@include breakpoint-down(640px){
   .interested__title{
      &::after{
         width: 0px;
      }
   }
}

@include breakpoint-down(545px){
   .interested__container{
      flex-direction: column;
   }

   .interested__title{
      max-width: 311px;
      margin-bottom: 40px;
      text-align: center;
   }
}